div#d4{
  padding:0 18%;
  height:110em;
}

                                              /*      tab1      */
div#d4 table#tab1{
  /*border: thin solid blue;*/
  width:100%;
  background-color:#FFFFFF;
}
table#tab1 tr.tr1 td{
  text-align:center;
  font-size:1.7em;
  background-color:#e1dede;
  padding:0.5em 0;
  border-top: thin solid #999999;
  border-bottom: thin solid #999999;
}
table#tab1 tr.tr2 td{
  width:25%;
  font-size:1.3em;
  text-align:center;
  padding:0.4em 2em;
  border-bottom: thin solid #cccccc;
  background-color:#FFFFFF;
}
table#tab1 tr.tr2 td:last-child{
  text-align:right;
  font-weight: bold;
}
table#tab1 tr.tr3 td{
  width:25%;
  font-size:1.3em;
  text-align:center;
  padding:1em 2em;
  border-bottom: thin solid #cccccc;
  background-color:#FFFFFF;
}
table#tab1 tr.tr3 td:last-child{
  text-align:right;
  font-weight: bold;
}



table td.td11{
  font-size:1.7em;
  background-color:#b0b0b0;
  padding:0.5em 1em;
  border-bottom: thin solid #333333;
}
table td.td22{
  font-size:1.4em;
  padding:0.4em 1em;
}
table#tab2 td.td22{
  font-size:1.4em;
  padding:0.4em 1em;
  border-bottom: thin solid #999999;
}

                                              /*      tab2      */
table#tab2{
  width:45%;
  float: left;
  margin-right:10%;
  border: thin solid #cccccc;
  background-color:#FFFFFF;
}
table#tab2 td#td0{
  border-bottom: none;
}

                                              /*      tab3      */
table#tab3{
  width:45%;
  background-color:#FFFFFF;
  border: thin solid #cccccc;
}
table#tab3 td textarea{
  width:100%;
  height:13.2em;
  border-radius: 3px;
}

                                              /*      tab4      */
table#tab44{
  width:100%;
  /*border: thin solid #cccccc;*/
}
table#tab44 td{
  /*border: thin solid red;*/
}
table#tab44 td#td1{
  width:50%;
  text-align:right;
  padding-right:5%;
}
table#tab44 td#td2{
  width:50%;
  padding-left:5%;
}  
table#tab44 a{
  padding:0.68em 2em !important;
  text-decoration: none;
  color:black;
}





