<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>格蘭哥尼販賣小舖</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  </head>
  <body>
    {% include 'main/menu.html' %}
    
  <div id = "d3">
    <p id = "p1"><i>充滿著顯著又複雜的風味</i></p>
    <p id = "p2">格蘭哥尼 10 年雪莉桶威士忌的巴西堅果香和軟橡木的香氣；<br>
      格蘭哥尼 18 年雪莉新桶威士忌那極好的平衡；<br>
      或又是那擁有獨特的聖誕節蛋糕香味的格蘭哥尼 21 年雪莉桶威士忌 。<br>
      格蘭哥尼威士忌系列充滿著顯著又複雜的風味。
    </p>
    <br>
    <hr>
  </div>
  
  <div id = "d4">
    <ul>
      <li><a href="{% url 'main:main' %}" >
        <img src="{% static 'main/img/GLEN10.jpg' %}"  alt="GLEN"></a>
      </li>
      <li><a href="{% url 'main:main' %}" >
        <img src="{% static 'main/img/GLEN18.jpg' %}"  alt="GLEN"></a>
      </li>
      <li><a href="{% url 'main:main' %}" >
        <img src="{% static 'main/img/GLEN21.jpg' %}"  alt="GLEN"></a>
      </li>
      <li><a href="{% url 'main:main' %}" >
        <img src="{% static 'main/img/GLENX.jpg' %}"  alt="GLEN"></a>
      </li>
      <div style="clear: both;"></div>
    </ul>
    <br>
    
    <div id = "d5">
    <table>
      <tr>
        <td id="td1">"我每晚都能安穩地入睡，因為我們長久以來，一直都是採用<br>
          和老祖宗相同的方法在打造世界級的威士忌。"</td>
        <td id="td2" rowspan="2">
        <img src="{% static 'main/img/GLENX1.png' %}" alt="GLEN"></td>
      </tr>
      <tr>
        <td id="td3">Robbie Hughes<br>酒廠經理</td>
      </tr>
     </table><br><br><br><br><br><br><br><br>
    </div>
    
  </div>
  {% include 'main/messages.html' %}
  </body>
</html>