<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>結帳</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  </head>
  <body>
    {% include 'main/menu.html' %}
    <div id="d4">
      <br>
        <img id="shop" src="{% static 'main/img/shop1.png' %}"  alt="shop">
      <br>
      
      <table id="tab1">
        <tr class="tr1">
          <td colspan="4">購物車</td>
        <tr>
        <tr class="tr2">
          <td>商品資料</td>
          <td>單件價格</td>
          <td>數量</td>
          <td>小計</td>
        </tr>
        {% for shop in shops %}
          <tr class="tr3">
            <td>{{shop.name}}</td>
            <td>NT${{shop.price}}</td>
            <td>{{shop.amount}}</td>
            <td>NT${%  widthratio shop.price 1 shop.amount %}</td>
          </tr>
        {% endfor %}
      </table>
      
      <br><hr><br>
      
      <table id="tab2" class="tab2">
        <tr class="tr11">
          <td>顧客資料</td>
        </tr>
        <tr class="tr22">
          <td>
          <p>顧客名稱</p>
          <input type="text" name=name>
          <p>電子信箱</p>
          <input type="email" name=name>
          <p>電話號碼</p>
          <input type="mobile" name=name>
          <p>生日</p>
          <input type="date" name=name>
          <p>性別</p>
          <select id="sex" name="sex">
                    <option value="M">男</option>
                    <option value="G">女</option>
          </select>
          </td>
        </tr>
      </table>
      
      <table id="tab3" class="tab2">
        <tr class="tr11">
          <td>送貨資料 (運費:NT$60)</td>
        </tr>
        <tr class="tr22">
          <td id="td2">
          <form method="get" action="{% url 'shop:order' %}">
            已選擇送貨方式：
              <select id="Delivery" name="Delivery">
                <option value={{ Delivery }}>{{ Delivery }}</option>
              </select>
            
              {% csrf_token %}
              <p>收件人名稱</p>
              <input type="text" name="name">
              <p id="p1">請填入收件人真實姓名，以確保順利收件。</p>
              <p>收件人電話號碼</p>
              <input type="text" name="phone">
              <p>地址</p>
              <input type="text" name="address">
            <br><br><br><br><br>
          </td>
          
        </tr>
      </table>
      
      <br><br>
      
      <table id="tab4" class="tab2">
        <tr class="tr11">
          <td>訂單備註</td>
        </tr>
        <tr class="tr22">
          <td>
          <textarea rows=7 cols=20 name="remark"></textarea>
          </td>
        </tr>
      </table>
      
      <table id="tab5" class="tab2">
        <tr class="tr11">
          <td>付款資料</td>
        </tr>
        <tr class="tr22">
          <td>
          <strong>合計:NT${{ sub2 }}</strong>
          <p>已選擇付款方式：
            <select id="payment" name="payment">
              <option value={{ payment }}>{{ payment }}</option>
            </select>
          </p>
          <br><br>
          </td>
        </tr>
      </table>
      
      <br><br>
      
      <div id="dd5">
      <table>
      <tr>
      <td id="td1">
        <a class="btn" href="{% url 'shop:shop' %}" >回購物車</a>
      </td>
      <td id="td2">
        <input class="btn" type="submit" value="提交訂單">
        </form>
      </td>
      </tr>
      </table>
        
        
      </div>
      
    </div>
    
    <br>
    
  </body>
</html>