<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>新增產品</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/product.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  </head>
  <body>
    {% include 'main/menu.html' %}
    <div id="d4">
    <p id="pp">新增產品</p>
    
      <table id="tb2">
        <tr class="tr11">
          <td>產品資料</td>
        </tr>
        <tr class="tr22">
        <form method="post" action="{% url 'product:product' %}" enctype="multipart/form-data">
         {% csrf_token %}
         <td>
         <p>名稱</p>
         <input id="name" type="text" name=name>
         <p>英文名稱</p>
         <input id="ename" type="text" name=ename>
         <p>價格</p>
         <input id="price" type="number" name=price>
         <p>標題</p>
         <input id="title" type="text" name=title>
         <p>簡介</p>
         <textarea id="Introduction"  name=Introduction></textarea>
         <p>產品圖像</p>
         <input type="file" name="productimg" id="productimg" >
         <p>標題圖像</p>
         <input type="file" name="titleimg" id="titleimg" >
         </td>
        </tr>
      </table>
      
      <table id="tb3">
        <tr class="tr11">
          <td>品飲紀錄</td>
        </tr>
        <tr class="tr22">
        <td>
        <p>色澤</p>
         <input id="colour" type="text" name=colour>
         <p>嗅覺</p>
         <textarea id="smell"  name=smell></textarea>
         <p>口感</p>
         <textarea id="taste"  name=taste></textarea>
         <p>餘韻</p>
         <input id="After" type="text" name=After>
         <p>橡木桶資訊</p>
         <textarea id="cask"  name=cask></textarea>
         <br><br><br><br>
        </td>
        </tr>
      </table>
      <br><br>
      <input class="btn" type="submit" value="新增">
      </form>
      <br><br><br><br><br><br>
      <br><br><br><br><br><br>
    </div>
    
  </body>
</html>